/* 
body{
	background-color: rgb(253, 249, 234);
} */


.centertext {
	text-align: center;
}

#intro {
	margin: 10px 130px;
	padding-top: 20px;
}

#name{
	font-family: Lato;
	font-weight: 400;
	font-size: 40px;
	margin-bottom: 3px;
	color: #4D4D8C;
	text-align: left;
}

#name-pronounciation{
	font-family: Lato;
	font-weight: 100;
	font-size: 24px;
	margin-bottom: 3px;
	text-align: left;
}

#name-def{
	font-family: Lato;
	font-weight: 300;
	font-size: 24px;
	text-align: left;
}

.projectpic{
	width: 550px;
}

.projecttitle{
	font-family: Lato;
	font-weight: 300;
	font-size: 20px;
	margin-bottom: 1px;
	margin-top: 7px;
	text-align: left;
}

.projecttags{
	margin-top: 1px;
	font-family: Lato;
	font-weight: 100;
	font-size: 18px;
	text-align: left;
}

#logo {
	padding-top: 10px; 
	height: auto; 
	margin-top: 0px;
	margin-left: 130px;
	margin-right: 130px;
}

.purple{
	color: #8D8DD9;
}

.darkpurple{
	color: #4D4D8C;
}

.purplebold{
	color: #4D4D8C;
	font-weight: bold;
}

.purplebold:hover{
	color: #8D8DD9;
}

p{
	font-family: Lato;
	font-weight: 300;
	line-height: 1.6;
	margin-top: 0px;
	font-size: 18px;
}

h1{
	font-family: Quicksand;
	font-weight: 400;
	font-size: 40px;
}
h2{
	font-family: Quicksand;
	font-weight: 400;
	font-size: 36px;
	margin-top: 60px;
}

h3 {
	font-family: Montserrat;
	font-weight: 400;
	font-size: 24px;
}

h4{
	font-family: Lato;
	font-size: 24px;
	font-weight: 500;
	margin-top: 0px;
}

a:link  {
	text-decoration: none;
	color: #000000;
}
a:visited {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #8a8a8a;
}
a:active {
	color: #8e8eda;
}

/* fullnav bar*/
#fullnav{
	background-color: cornflowerblue;
}

/* top navigation bar*/
.topnav {
	float: right;
	/* margin-right: 130px; */
	padding-top: 20px;
	bottom: 0px;
}
/* style the links inside the nav bar */
.topnav a {
	color: #000000;
	text-align: center;
	padding: auto;
	padding-left: 10px;
	bottom: 0;
	text-decoration: none;
	font-size: 16px;
	font-family: Montserrat;
	font-weight: 400;
}

/* color of links on hover*/
.topnav a:hover {
	color: #8D8DD9;
}

/* current page */
.topnav .current{
	color:#8D8DD9;
	font-weight: bold;
}

/* box that will display project*/
.box{
	margin: auto;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  filter: drop-shadow(10px 10px 10px #c1c1c1); 
}

.projectbannerimage{
	width: 70%;
}

.shadow{
	filter: drop-shadow(10px 10px 10px #c1c1c1); 
}

.box:hover .image {
  opacity: 0.5;
}

.boxtext{
	color: black;
	visibility: hidden;
	text-align: center;
}

.box:hover .boxtext{
	visibility: visible;
}

.piclink{
	opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.piclink:hover {
	opacity: 0.5;
}

.center{
	display: flex;
	align-items: center;
	justify-content: center;
}
.grid-container{
	display: grid;
	/* grid-template-columns: 400px 400px 400px; */
	grid-template-columns: 550px 550px;
	grid-column-gap: 50px;
	margin: auto;
	margin-top: 30px;
	justify-content: center;
	align-items: center;
}

hr {
	visibility: hidden;
    display: block;
    height: 1px;
    border: 0;
    border-bottom: 1px solid #8e8eda;
	margin: 1em 0;
	margin-top: 3px;
    padding: 0;
}

#madeby {
	text-align: center;
	font-size: 12pt;
}

#aboutme {
	font-size: 24px;
}

#abouttitle {
	margin-left: 130px;
}

.marginleftright{
	margin-left: 300px;
	margin-right: 300px;
}

.marginleftright200{
	margin-left: 200px;
	margin-right: 200px;
}

#tab{
	margin-left: 50px;
	margin-right: 50px;
}

.lineupleft{
	margin-left: 300px;
}


.grid-layout{
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-left: 130px;
	margin-right: 130px;
	margin-top: 50px;
	margin-bottom: 50px;
	justify-content: center;
	align-content: center;
}

.grid-layout2{
	display: grid;
	grid-template-columns: 1fr 2fr;
	margin-left: 200px;
	margin-right: 200px;
	justify-content: center;
	align-content: center;
	grid-column-gap: 30px;
}

.grid-layout2-even{
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-left: 200px;
	margin-right: 200px;
	margin-top: 50px;
	margin-bottom: 50px;
	justify-content: center;
	align-content: center;
	grid-column-gap: 30px;
}

.alarmredesigngrid{
	display: grid;
	grid-template-columns: 400px 400px;
	margin-left: 150px;
	margin-right: 150px;
	margin-top: 50px;
	margin-bottom: 50px;
	justify-content: center;
	align-content: center;
}

.centerimg{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

#hackxxfilter{
	margin-left: 70px;
}

#turtlesticker{
	margin-left: 80px;
}

.hackxxcaptions{
	margin: 50px 50px;
}

#aboutmepic {
	margin-left: 70px;
}
.topspace{
	margin-top: 30px;
}

.smallparagraph{
	margin-left: 400px;
	margin-right: 400px;
}

.text-layout{
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-left: 300px;
	margin-right: 300px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.triogrid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-left: 150px;
	margin-right: 150px;
	margin-top: 50px;
	margin-bottom: 50px;
	justify-content: center;
	align-content: center;
}

#rotate{
	transform: rotate(90deg);
}

.imgcenter{
	display: block;
	margin: auto;
}

.DFAtext{
	color: #d89809;
}
.backgroundblue{
	background-color: cornflowerblue;
}

/* Make responsive */
@media screen and (max-width: 768px) {
	.grid-container{
		grid-template-columns: 550px;
		margin-right: 5px;
		margin-left: 5px;
	}
	.grid-layout{
		grid-template-columns: 1fr;
		margin-left: 5px;
		margin-right: 5px;
	}

	.grid-layout2{
		grid-template-columns: 1fr;
		margin-left: 5px;
		margin-right: 5px;
	}
	
	.grid-layout2-even{
		grid-template-columns: 1fr;
		margin-left: 5px;
		margin-right: 5px;
	}

	.marginleftright200, .marginleftright{
		margin-left: 5px;
		margin-right: 5px;
	}

	.projectbannerimage, .projectpic{
		width: 100%;
		margin-left: 5px;
		margin-right: 5px;
	}
	
	.spheading2{
		padding-left: 5px;
	}

	.smallparagraph{
		margin-left: 5px;
		margin-right: 5px;
	}

	.text-layout{
		grid-template-columns: 1fr;
		margin-left: 5px;
		margin-right: 5px;
	}
}

@media screen and (min-width: 769px) and (max-width: 900px){
	.grid-container{
		display: grid;
		grid-template-columns: 400px 400px;
		margin: auto;
		margin-top: 30px;
		margin-left: 5px;
		margin-right: 5px;
		justify-content: center;
		align-items: center;
	}
	.projectbannerimage{
		width: 100%;
	}
}

@media screen and (max-width: 425px) {
	#name{
		font-size: 14px;
	}
	#name-pronounciation{
		font-size: 14px;
	}
	#name-def{
		font-size: 14px;
	}
	#intro{
		margin-left: 0px;
		margin-right: 0px;
		padding-top: 20px;
	}
	#logo{
		margin: auto;
	}
	.projecttitle{
		font-family: Lato;
		font-weight: 300;
		font-size: 10px;
		margin-bottom: 1px;
		margin-top: 7px;
		text-align: left;
	}
	
	.projecttags{
		margin-top: 1px;
		font-family: Lato;
		font-weight: 100;
		font-size: 10px;
		text-align: left;
	}
}

/* SchoolProven style */
.spheading{
	color: rgb(63, 134, 53);
	font-family: Lato;
	font-weight: 700;
}

.spheading2{
	color: darkgrey;
	font-family: Lato;
	font-weight: 700;
	padding-left: 87px;
}

.latolight{
	font-family: Lato;
	font-weight: 300;
	font-size: 22px;
}

.latothin{
	font-family: Lato;
	font-weight: 100;
}

.spborder{
	border: 4px solid rgb(63, 134, 53);
}

.sphighlight{
	font-weight: 400;
	background-color:  rgb(198, 223, 198);
}